/*
 | This file is part of the DITA Open Toolkit project.
 | See the accompanying license.txt file for applicable licenses.
*/
/* Stylesheet for producing MATLAB-type help for Model Composer
 */
/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
 */
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  font-weight: normal;
}

#title-block-header {
display:none;
}

.level1
{
    margin-left: 0px;
}

.level2
{
    margin-left: 0px;
}

.level3
{
    margin-left: 15px;
}

.level4
{
    margin-left: 15px;
}

h4 {
color:#c06838;
}


.level5
{
    margin-left: 15px;
}

.level6
{
    margin-left: 15px;
}

/**
 * Tables
 */

table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.noteBox::before
{
content: "NOTE:";
font-weight: bold;
font-size: 11pt;
color: #0096C7;
}

.noteBox
{
    border: 2px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	width: 80%;
	border-color: #0096C7;
	background-color: rgba(0, 150, 199, 0.1);
}

